/*STYLE GENERAL*/
@font-face{
	font-family:'Comfortaa';
	src:url('../Comfortaa/Comfortaa-Regular.ttf');
}
body
{
	font-family: 'Comfortaa','lato','arial','verdana', sans-serif;
	position: relative !important;
}

a:hover
{
	color: #f20505 !important;
	text-decoration: none;
}

section
{
	margin-top: 20px;
	margin-bottom: 100px;
}

.jumbotron
{
	/*background-color: #fdd400;*/
	background-color: white;
	border: #fdd400 3px solid;
}

.btn-primary
{
	background-color: #3726a6;
	border-color: #3726a6;
}

.btn-primary:hover
{
	background-color: #f20505;
	border-color: #f20505;
}

/*TOPBAR*/
#topbar
{
	background-color: black;
	border-bottom: 1px #3726a6 solid;
}

.btn_reseaux_sociaux
{
	margin: auto;
	text-align: center;
}

.img_reseaux_sociaux
{
	margin-right: 50px !important;
}

/*MENU DE NAVIGATION*/
#logo
{
	display: flex;
}

#mainNav
{
	background-color: black !important;
	border-bottom: 3px #3726a6 solid;
}


.navbar-light .navbar-nav .nav-link 
{
	/*color: #fdd400;*/
	color: white;
}

#helloMember
{
	background-color: black;
	border: none;
}

#helloMember:hover
{
	background-color: black;
	border: none;
}

#sloganMenu
{
	margin: auto;	
	font-size: large;
	color: white;
}

/*HEADER*/
header	
{
	color: black;
	margin-bottom: 50px;
}

#sloganHeader
{
	/*color : #e8b937;*/	
	/*color : #fdd400;*/
	color: #fdd400;
	font-weight: bold;
}

.edition
{
	margin: auto;
}

#headerAccueil
{
	color: white;
	background: url("../images/header2.jpg") no-repeat fixed;
	background-size: cover;
	height: 500px;	
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 1.9em;
}


/*Bouton entête*/
.modal:focus,.btn-primary:focus
{
	box-shadow:none !important;
}

.bouton
{
	margin: auto;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #fdd400;
}

.btnEntete
{
	height: 125px;
	width: 125px;
	line-height: 110px;
	border-radius: 100%;
	color: #7ff5bb;
	background-color: #3726a6;
	border: 3px black solid;
	font-weight: bold;
	margin: auto;
	text-align: center;
}

.btnEntete:hover
{
	color: white;
	background-color: #3726a6;	
	border: 3px #f20505 solid;
}

/*Section listPosts*/
.titreSectionBlog
{
	text-align: center;
}

.posts
{
	background-color: #fdd400;
	margin-top: 50px;
}

.essai
{
	padding: 0px;
}

.postContent
{
	word-wrap: break-word;
}

/*section post*/
#postTitle
{
	text-align: center;
}

#photoPost
{
	max-height: 100%;
	max-width: 100%;
}

.photoPost
{
	max-height: 100%;
	max-width: 100%;
}

#commentAuthor
{
	color: #fdd400;
}

#commentDate
{
	font-size: 10px;
}

/*Form comment*/
#commentFormTextArea
{
	height: 200px;
}
.bg-primary
{
	background-color: #3726a6 !important;
}

#infoPostComment
{
	color: red;
	font-size: 14px;
}

/*Form post backoffice*/
.form-group .contentFormTextArea
{
	height: 700px;	
}

/*coordonnées*/
#googlemap
{
	max-height: 100%;
	max-width: 100%;
}

/*FOOTER*/
footer
{
	background-color: black;
	color: white;
	text-align: center;
	border: 3px solid black;
}

.img_reseaux_sociaux_footer
{
	margin-right: 15px;
}